<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="donate.css">
     style
        include ../static/receiveplasmablood.css

    <title>Donate Plasma blood</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#">Covid Health Care</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <a class="nav-link" href="/index">Home </a>
     <li class="nav-item">
     <a class="nav-link" href="..." data-toggle="modal" data-target="#staticBackdrop">About</a>
     </li>
     <li class="nav-item">
     <a class="nav-link" href="https://www.worldometers.info/coronavirus/">Worldwide Cases</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          |More Information
          <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/donateplasmablood">Donate Plasma Blood</a>
          <a class="dropdown-item" href="#">Need a plasma blood donor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/bedavailibility">Check availability for hospital beds</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          |Download PDF's
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../static/Covid19 HealthCare.pdf">Covid19 HealthCare</a>
          <a class="dropdown-item" href="../static/Precautions to be taken.pdf">Mandatory Precautions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../static/Plasma Donation.pdf">Plasma Donation</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button"  data-toggle="modal" data-target="#contactpage">Contact Us</button>
    </form>
  </div>
</nav>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">About Covid Healthcare</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      |This is the official website of Covid Healthcare officially liscensed by the State Government of Maharashtra. All the information posted is verified and true.All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="contactpage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Contact Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      |Helpline Number 1: 99887766xx
      <br>
      |Helpline Number 2: 11222233xx
      <br>
      |Helpline Number 3: 55443322xx
      <br>
      <br>
      <br>
      |For More Information or queries you can send your emails or doubts at:
      <br>
      |mahacovidhealthcare@gmail.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <h1>Receive Plasma Blood</h1>
    <h4>Need a plasma blood donor? we are here for you. Complete the registeration process to add yourself to the lis.</h4>
    <div class="boxes">
    <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="https://source.unsplash.com/1400x400/?blood donation" alt="Card image cap">
    <div class="card-body">
    <form action="/receiveplasmablood" method="post">
    <div class="row">
    <div class="col">
      <label>First Name</label>
      <input type="text"  class="form-control" placeholder="First name" name="FirstName">
    </div>
    <div class="col">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Last name" name="LastName">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>Email ID</label>
      <input type="email" class="form-control" placeholder="Email ID" name="EmailID">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>Mobile Number</label>
      <input type="text" class="form-control" placeholder="Mobile Number" name="MobileNo">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>Address</label>
      <input type="text" class="form-control" placeholder="Address" name="Address">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>City</label>
      <input type="text" class="form-control" placeholder="City" name="City">
    </div>
    <div class="col">
      <label>State</label>
      <input type="text" class="form-control" placeholder="State" name="State">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>Date of Birth</label>
      <input type="Date" class="form-control" placeholder="Date of Birth" name="DOB">
    </div>
    <div class="col">
      <label>Age</label>
      <input type="number" class="form-control" placeholder="Age" name="Age">
    </div>
    <div class="col">
      <label>Blood Group</label>
      <input type="text" class="form-control" placeholder="Blood Group" name="BloodGroup">
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
      <label>Sex</label>
      <input type="text" class="form-control" placeholder="Sex" name="Sex">
    </div>
    <div class="col">
      <label>Height(in cm)</label>
      <input type="number" class="form-control" placeholder="Height" name="Height">
    </div>
    <div class="col">
      <label>Weight(in Kg)</label>
      <input type="text" class="form-control" placeholder="Weight" name="Weight">
    </div>
    </div>
    <br>
    <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
      |I hearby agree that all the information entered is true
      </label>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="card-text">
    |Every blood donor is a lifesaver
    </p>
    </div>
    </div>
    </div>
    <div class="footer1 bg-danger">
    <p>Brihanmumbai Municipal Corporation © 2020 All rights reserved.</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>